@import "./variables";
@import "./responsive";

.aboutUs {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;

    .baseImage {
      position: absolute;
      opacity: 0.35;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    article {
      font-family: $text-font;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}
