@import "./variables";
@import "./responsive";

.atomicButton {
  button {
    display: flex;
    border-radius: 50px;
    text-align: center;
    font-family: $text-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.atomicButton.light {
}

.atomicButton.dark {
}
