@import "./variables";
@import "./responsive";

.atomicButton,
.submitButton {
  padding: 12px 30px;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  font: 400 16px $text-font;
  line-height: 20px;
  border-radius: 50px;
  border: transparent;
  transition: all 0.2s ease-in-out;

  @include md {
    padding: 10px 20px;
    font-size: 14px;
  }

  span {
    height: 20px !important;
    width: 20px !important;
    color: $border;
  }
}

.submitButton:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
