@import "./variables";
@import "./responsive";

.banner {
  padding: 50px 0 20px;

  .container {
    text-align: center;

    h2 {
      font-family: $topic-font;
      font-size: 46px;
      font-weight: 400;
      line-height: 50px;

      span {
        @extend h2;
      }
    }

    p {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 30px;
      font-family: $text-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.2px;
    }
  }
}
