@import "./variables";
@import "./responsive";

.contactUs {
  padding: 40px 0;

  .contactItemsBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
    margin-bottom: 50px;
    border-bottom: 2px solid $border;

    .contactItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      flex: 1;

      @include sm {
        flex: auto;
      }

      figure {
        display: flex;
        padding: 12px;
        border-radius: 50%;
        border: 1px solid $border;

        svg {
          font-size: 27px;
        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;

        h6 {
          font: 500 16px $text-font;
          letter-spacing: 0.5px;
          text-transform: capitalize;
        }

        p:first-of-type {
          color: $gary-dark-text;
          font: 300 14px $text-font;
        }

        p:last-of-type {
          color: $main-color;
          font: 400 15px $text-font;
        }
      }
    }
  }

  .contactFormSection {
    .formSection {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      row-gap: 40px;
      flex-wrap: wrap;
      padding: 30px 0;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        min-width: 330px;
      }

      .map {
        flex: 1;

        iframe {
          @include md {
            width: 300px;
            height: 300px;
          }
        }
      }
    }
  }
}
