@import "./variables";
@import "./responsive";

.copyRights {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    p {
      font: 300 14px $text-font;
      text-transform: capitalize;
    }

    a {
      font: 500 14px $text-font;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: $main-color !important;
      }
    }
  }
}
