@import "./variables";
@import "./responsive";

.delivery {
  background: url("../../public/assets/images/L-Footer\ Texture\ img\ 01\ \(1\).png"),
    no-repeat;
  // margin: -53px 0 -31px 0;
  // position: relative;

  .container {
    display: flex;
    align-items: flex-start;
    padding: 60px 0 10px;
    & > * {
      flex: 1;
    }

    article {
      font: 300 16px $text-font;
      letter-spacing: 0.5px;
      line-height: 30px;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: -30px;
    }
  }
}
