@import "./variables";
@import "./responsive";

.delivery {
  padding: 93px 0;
  overflow: hidden;
  @include sm {
    padding: 70px 0;
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    & > * {
      flex: 1;
      @include md {
        flex: auto;
      }
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include md {
        align-items: center;
      }
      img {
        object-fit: contain;
        @include md {
          width: 250px;
          height: 150px;
        }
      }
    }
  }
}

.delivery.light {
  background: url("../../public/assets/images/BackgroundDelivery.png"),
    no-repeat;
}

.delivery.dark {
  background: url("../../public/assets/images/BackgroundDeliveryDark.png"),
    no-repeat;
}
