@import "./variables";
@import "./responsive";

.delivery {
  padding: 90px 0;
  overflow: hidden;
  @include sm {
    padding: 70px 0;
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    & > * {
      flex: 1;
      @include md {
        flex: auto;
      }
    }

    .sectionTitle {
      @include md {
        font-size: 26px !important;
        line-height: 26px;
      }
    }

    article {
      font: 300 16px $text-font;
      letter-spacing: 0.5px;
      line-height: 30px;

      @include md {
        line-height: 24px;
      }
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include md {
        align-items: center;
      }
      img {
        object-fit: contain;
        @include md {
          width: 250px;
          height: 150px;
        }
      }
    }
  }
}

.delivery.light {
  background: url("../../public/assets/images/BackgroundDelivery.png"),
    no-repeat;
}

.delivery.dark {
  background: url("../../public/assets/images/BackgroundDeliveryDark.png"),
    no-repeat;
}
