@import "./variables";
@import "./responsive";

.errorPage {
  padding: 0px 0 60px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    position: relative;

    @include sm {
      gap: 20px;
    }

    img {
      object-fit: contain;

      @include sm {
        width: 300px;
      }
    }
    .chiliImage {
      position: absolute;
      @include sm {
        width: 170px;
        bottom: 135px;
      }
    }

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

      h6 {
        font: 600 20px $text-font;
        letter-spacing: 0.5px;
        margin-top: 20px;

        @include sm {
          margin-top: 0;
        }
      }

      p {
        font: 300 14px $text-font;
        letter-spacing: 0.5px;
      }

      .buttonBox {
        margin: 1px auto 0;
      }
    }
  }
}
