@import "./variables";
@import "./responsive";

.feedback {
  & > svg:first-of-type {
    @include xl {
      margin-top: -28px !important;
    }
  }

  & > svg:last-of-type {
    @include xl {
      margin-bottom: -28px !important;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .box {
      .sectionTitle {
        @include md {
          font-size: 26px !important;
        }
      }

      p {
        width: 50%;
        margin: 0 auto;
        font-family: $text-font;
        @include md {
          width: 90%;
          font-size: 14px;
        }
      }
    }

    .testimonialBox {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      padding: 30px 0;

      .testimonial {
        padding: 40px;
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        flex: 1;
        min-width: 290px;
        position: relative;
        overflow: hidden;

        .sideImage {
          position: absolute;
          bottom: -15px;
          right: 0;
          object-fit: contain;
        }

        .quoteBox {
          position: absolute;
          display: flex;
          gap: 5px;
          padding: 30px;
          left: -10px;
          top: -10px;
        }

        ul.rating {
          display: flex;

          li {
            svg {
              font-size: 20px;
            }
          }
        }

        article {
          text-align: start;
          font: 300 15px $text-font;
          letter-spacing: 0.5px;
          line-height: 30px;
          width: 90%;

          @include sm {
            line-height: 24px;
          }
        }

        .by {
          h6 {
            font: 400 16px $topic-font;
          }
          p {
            font: 300 14px $text-font;
            color: $gary-dark-text;
            text-align: start;
          }
        }
      }
    }
  }
}

.withoutBackground {
  padding: 30px 0;
  .testimonial {
    border: 1px solid $border;
  }
}
