@import "./variables";
@import "./responsive";

ul.filterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  li {
    font: 300 16px $text-font;
    padding: 7px 15px;
    border: 1px solid $gary-dark-text;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: $main-color;
      color: $light-bg;
      border-color: $main-color;
    }
  }

  li.active {
    background-color: $main-color;
    color: $light-bg;
    border-color: $main-color;
  }
}
