@import "./variables";
@import "./responsive";

.products .filterGallery {
  padding: 20px 0;
}

.filterGallery {
  padding: 60px 0 40px;
  text-align: center;

  ul.filterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 25px 0 35px;

    li {
      font: 300 16px $text-font;
      padding: 7px 15px;
      border: 1px solid $gary-dark-text;
      border-radius: 50px;
      cursor: pointer;
      user-select: none;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: $main-color;
        color: $light-bg;
        border-color: $main-color;
      }
    }

    li.active {
      background-color: $main-color;
      color: $light-bg;
      border-color: $main-color;
    }
  }

  .productsBox {
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 400px;

    @include lg {
      justify-content: center;
    }

    .product {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 7px;
      border-radius: 15px;
      border: 1px solid $dark-text;
      width: 254px;
      height: fit-content;
      overflow: hidden;

      &:hover figure img {
        transform: translateZ(17px);
        filter: brightness(0.8);
      }

      @include sm {
        width: 100%;
      }

      figure {
        width: 100%;
        perspective: 200px;
        height: 150px;
        overflow: hidden;

        img {
          object-fit: fill;
          width: 100%;
          transition: all 0.4s ease-in-out;

          @include sm {
            object-fit: cover;
          }
        }
      }

      .text {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        @include md {
          gap: 7px;
        }

        h4 {
          font: 400 20px $topic-font;
          line-height: 24px;

          @include md {
            font-size: 18px;
            line-height: 22px;
          }
        }
        p {
          text-align: center;
          font: 300 14px $text-font;
          letter-spacing: 0.2px;
          color: $gary-dark-text;
        }
        h5 {
          font: 800 16px $text-font;
          color: $main-color;
        }
      }
    }

    .product.light:hover {
      box-shadow: $light-hover;
    }
    .product.dark:hover {
      box-shadow: $dark-hover;
    }
  }
}
