@import "./variables";
@import "./responsive";

.filterGallery {
  padding: 40px 0;
  text-align: center;

  .productsBox {
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .product {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 7px;
      border-radius: 15px;
      border: 1px solid $dark-text;
      width: 254px;
      overflow: hidden;
      transition: all 0.15s ease-in-out;
      &:hover figure img {
        transform: translateZ(17px);
        filter: brightness(0.8);
      }

      figure {
        width: 100%;
        perspective: 200px;
        height: 150px;
        overflow: hidden;

        img {
          object-fit: fill;
          width: 100%;
          transition: all 0.4s ease-in-out;
        }
      }

      .text {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        h4 {
          font: 400 22px $topic-font;
          line-height: 30px;
        }
        p {
          text-align: center;
          font: 300 14px $text-font;
          letter-spacing: 0.2px;
          color: $gary-dark-text;
        }
        h5 {
          font: 800 16px $text-font;
          color: $main-color;
        }
      }
    }

    .product.light:hover {
      box-shadow: $light-hover;
    }
    .product.dark:hover {
      box-shadow: $dark-hover;
    }
  }
}
