@import "./variables";
@import "./responsive";

.footer {
  padding: 50px 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      @include xl {
        justify-content: center;
        align-items: center;
      }

      h6 {
        font-family: $topic-font;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        align-items: flex-start;
        width: 100%;
        @include xl {
          justify-content: center;
          align-items: center;
        }
      }

      .opening-hours {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > p {
          font-family: $text-font;
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
        }
      }

      .links {
        @extend .opening-hours;

        a {
          font-family: $text-font;
          font-size: 18px;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 0.5px;
          width: 100%;
          transition: all 0.15s ease-in-out;
          &:hover {
            color: $main-color !important;
          }
        }
      }

      .get-in-touch {
        @extend .opening-hours;
        gap: 25px;
        @include xl {
          margin-left: 19%;
        }

        .box {
          display: flex;
          gap: 10px;

          .icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $main-color;

            .icon {
              color: $dark-text;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
