@import "./variables";
@import "./responsive";

.gallery {
  padding: 40px 0;
  text-align: center;

  .swiper {
    padding-top: 40px;

    .swiper-slide {
      cursor: grab;
      height: 280px;
      perspective: 200px;
      overflow: hidden;
      &:hover img {
        transform: translateZ(17px);
        filter: brightness(0.8);
      }
      img {
        object-fit: cover;
        width: 100%;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
