// Pages
@import "./_register.scss";
@import "./_verifyAccount.scss";
@import "./_login.scss";
@import "./_forgetPassword.scss";
@import "./_resetPassword.scss";
@import "./_home.scss";
@import "./_profile.scss";
@import "./_checkout.scss";
@import "./_orders.scss";
@import "./_about.scss";

// Components
@import "./_header.scss";
@import "./_navbar.scss";
@import "./_slide.scss";
@import "./_footer.scss";
@import "./_copyRights.scss";
@import "./_layoutTopWrapper.scss";

// Atoms
@import "./_sectionTitle.scss";

// Layout
@import "./_homeLayout.scss";
@import "./_layout.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}

// My Utility classes
.flex-jc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-jb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
