@import "./variables";
@import "./responsive";

.header {
  padding: 10px 0;
  border-bottom: 1px solid;
  .work-date {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .themes {
    display: flex;
  }
}
