@import "./variables";
@import "./responsive";

.homeLayout {
  width: -webkit-fill-available;

  .topWrapper {
    background: url("../../public/assets/images/Banner\ Texture\ img\ 01.png"),
      no-repeat;
    padding-bottom: 70px;
    margin-bottom: -40px;

    & > svg {
      @include lg {
        margin-bottom: -24px !important;
      }
    }

    @include sm {
      padding-bottom: 0;
    }
  }

  .bottomWrapper {
    background: url("../../public/assets/images/L-Footer\ Texture\ img\ 01\ \(1\).png"),
      no-repeat;

    & > svg {
      @include lg {
        margin-top: -24px !important;
      }
    }
  }
}
