@import "./variables";
@import "./responsive";

.homeLayout {
  width: -webkit-fill-available;

  .topWrapper {
    background: url("../../public/assets/images/Banner\ Texture\ img\ 01.png"),
      no-repeat;
    padding-bottom: 20px;
    margin-bottom: -40px;

    @include sm {
      padding-bottom: 0;
    }
  }

  & > svg {
    margin-bottom: -24px !important;
  }

  .bottomWrapper {
    background: url("../../public/assets/images/footerTexture.png"), no-repeat;

    & > svg {
      @include lg {
        margin-top: -24px !important;
      }
    }
  }
}
