@import "./variables";
@import "./responsive";

.items {
  padding: 15px 0 20px 0;
  @include sm {
    margin: -21px 0 -12px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    width: 170px;

    figure {
      width: 150px;
      height: 90px;
      margin-bottom: 10px;
      border-radius: 7px;
      perspective: 200px;
      overflow: hidden;

      &:hover img {
        transform: translateZ(17px);
        filter: brightness(0.8);
      }

      img {
        width: 100%;
        transition: all 0.4s ease-in-out;
      }
    }
    .item-name {
      font-family: $topic-font;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
