@import "./variables";
@import "./responsive";

.layout {
  width: -webkit-fill-available;

  .bottomWrapper {
    background: url("../../public/assets/images/footerTexture.png"), no-repeat;

    & > svg {
      @include xl {
        margin-top: -24px !important;
      }
    }
  }
}
