@import "./variables";
@import "./responsive";

.menu {
  padding-bottom: 50px;
  @include sm {
    gap: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include sm {
      gap: 30px;
    }

    .category {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sectionTitle {
        text-align: center;
        @include sm {
          font-size: 26px !important;
        }
      }

      .productsContainer {
        max-height: 176px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 70px;
        row-gap: 30px;

        @include lg {
          max-height: fit-content;
          flex-wrap: nowrap;
        }

        .product {
          display: flex;
          flex-direction: column;
          gap: 7px;
          width: 50%;
          @include lg {
            width: 100%;
          }

          .productDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            h4 {
              font: 700 20px $text-font;
              text-align: start;

              @include sm {
                font-size: 18px;
              }
            }

            span {
              display: inline-block;
              color: $gary-dark-text;
            }

            h5 {
              font: 700 18px $text-font;
              text-align: end;
              color: $main-color;
              @include sm {
                font-size: 16px;
              }
            }
          }

          p {
            font: 300 16px $text-font;
            color: $gary-dark-text;
            text-align: start;
            max-width: 100%;
            word-break: break-all;
            @include sm {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
