@import "./variables";
@import "./responsive";

.navbar {
  padding: 20px 0 0;

  @include sm {
    padding: 10px 0 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logoBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      @include sm {
        gap: 15px;
      }

      .logo {
        object-fit: contain;
        @include md {
          width: 90px;
        }
      }

      .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @include xl {
          gap: 10px;
          display: none;
        }

        a {
          font: 500 16px $text-font;
          line-height: 20px;
          display: flex;
          align-items: end;
          gap: 5px;
          transition: all 0.15s ease-in-out;

          &:hover {
            color: $main-color !important;
          }

          @include sm {
            font-size: 14px;
          }
        }
        a.active {
          color: $main-color !important;
        }
      }
    }

    .callBox {
      display: flex;
      gap: 20px;

      @include md {
        display: none;
      }

      .call {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include sm {
          gap: 5px;
        }

        .phone-icon {
          font-size: 35px;
          @include sm {
            font-size: 24px;
          }
        }
        .phone-icon.right {
          transform: rotateY(180deg);
        }

        .text {
          p {
            &:first-child {
              font: 400 14px $text-font;
              line-height: 20px;
              @include sm {
                font-size: 11px;
              }
            }
            &:last-child {
              color: $sec-color;
              font: 700 22px $text-font;
              line-height: 20px;

              @include sm {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// sidebar

.burgerIcon {
  display: none;
  @include xl {
    display: block;
  }
}

.sidebar {
  height: 100%;

  figure {
    padding: 20px 20px 0 20px;

    img {
      object-fit: contain;
    }
  }

  .links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    @include sm {
      gap: 10px;
    }

    a {
      font: 500 16px $text-font;
      line-height: 20px;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: end;
      gap: 7px;
      transition: all 0.15s ease-in-out;

      &:hover {
        color: $main-color !important;
      }
    }

    a.active {
      color: $main-color !important;
    }
  }

  .callBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;

    .call {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .phone-icon {
        font-size: 25px;
      }
      .phone-icon.right {
        transform: rotateY(180deg);
      }

      .text {
        p {
          &:first-child {
            font: 400 12px $text-font;
            line-height: 20px;
          }
          &:last-child {
            color: $sec-color;
            font-family: $text-font;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.sidebar.light {
  color: $light-text;
}

.sidebar.dark {
  color: $dark-text;
  background-color: $dark-bg;
}
