@import "./variables";
@import "./responsive";

.navbar {
  padding: 10px 0 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      @include sm {
        gap: 15px;
      }

      .logo {
        object-fit: contain;
        @include sm {
          width: 90px;
        }
      }

      .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @include sm {
          gap: 10px;
        }

        a {
          font-family: $text-font;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          transition: all 0.15s ease-in-out;
          &:hover {
            color: $main-color !important;
          }

          @include sm {
            font-size: 14px;
          }
        }
      }
    }

    .call {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @include sm {
        display: none;
        gap: 5px;
      }

      .phone-icon {
        font-size: 35px;
        @include sm {
          font-size: 24px;
        }
      }
      .phone-icon.right {
        transform: rotateY(180deg);
      }

      .text {
        p {
          &:first-child {
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            @include sm {
              font-size: 11px;
            }
          }
          &:last-child {
            color: $sec-color;
            font-family: $text-font;
            font-size: 22px;
            font-weight: 700;
            line-height: 20px;

            @include sm {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
