@import "./variables";
@import "./responsive";

.sectionCrown {
  h2 {
    font: 400 35px $topic-font;
    line-height: 50px;
    text-transform: capitalize;

    @include md {
      font-size: 26px;
      line-height: 26px;
    }
  }

  article {
    font: 300 15px $text-font;
    letter-spacing: 0.5px;
    padding-top: 15px;

    @include md {
      line-height: 24px;
    }
  }
}
