@import "./variables";
@import "./responsive";

.socialMedia {
  display: flex;
  gap: 10px;

  a {
    svg {
      font-size: 35px;
    }
    transition: all 0.15s ease-in-out;

    &:hover {
      margin-top: -3px;
    }
  }

  a.facebook svg {
    color: #0165e1;
  }
  a.instagram svg {
    color: #e1306c;
  }
  a.linkedin svg {
    color: #0a66c2;
  }
  a.twitter svg {
    color: black;
  }
  a.youtube svg {
    color: #ff0000;
  }
}
