@import "./variables";
@import "./responsive";

.textFieldGroup,
.textareaGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;

  label {
    font: 400 14px $text-font;
    text-transform: capitalize;
  }

  input,
  textarea {
    font: 400 16px $text-font;
    width: 100%;
    padding: 15px 20px;
    background-color: $input-bg;
    border: 1px solid $dark-text;
    outline: transparent;
    transition: all 0.2s ease-in-out;

    &:focus {
      box-shadow: 2px 2px 2px $gary-dark-text;
    }
  }

  input.inputError,
  .textareaError {
    border: 1px solid $main-color;

    &:focus {
      box-shadow: 2px 2px 2px $main-color;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  p {
    font: 400 15px $text-font;
    margin-top: -7px;
    color: $main-color;
  }
}
