@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Fonts

$topic-font: "Carter One", cursive;
$text-font: "Outfit", sans-serif;

// Colors

// Theme Colors
$main-color: #e60000;
$sec-color: #fec223;

// Background
$light-bg: #fff;
$dark-bg: #000000;

// Text
$light-text: #131313;
$dark-text: #e7e8e8;

// Border
$border: rgba(231, 232, 232, 1);
