@import "./variables";
@import "./responsive";

.video {
  background: url("../../public/assets/images/Background-image.png"), no-repeat;
  padding: 170px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    // color: $light-bg;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $sec-color;
      margin-bottom: 10px;
    }

    article {
      font: 300 16px $text-font;
      letter-spacing: 0.5px;
      line-height: 30px;
      width: 50%;
    }
  }
}
