@import "./variables";
@import "./responsive";

.video {
  background: url("../../public/assets/images/Background-image.png"), no-repeat;
  padding: 180px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include sm {
    padding: 160px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    text-align: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $sec-color;
      margin-bottom: 10px;
    }
  }
}
